<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.Section1
	{page:Section1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=Section1>

<p class=MsoNormal>{% extends &quot;admin/base_site.html&quot; %}</p>

<p class=MsoNormal>{% load i18n %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% block extrastyle %}{% load adminmedia %}{{ block.super
}}&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{%
admin_media_prefix %}css/login.css&quot; /&gt;{% endblock %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% block bodyclass %}login{% endblock %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% block content_title %}{% endblock %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% block breadcrumbs %}{% endblock %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% block content %}</p>

<p class=MsoNormal>{% if error_message %}</p>

<p class=MsoNormal>&lt;p class=&quot;errornote&quot;&gt;{{ error_message
}}&lt;/p&gt;</p>

<p class=MsoNormal>{% endif %}</p>

<p class=MsoNormal>&lt;div id=&quot;content-main&quot;&gt;</p>

<p class=MsoNormal>&lt;form action=&quot;{{ app_path }}&quot;
method=&quot;post&quot; id=&quot;login-form&quot;&gt;{% csrf_token %}</p>

<p class=MsoNormal>  &lt;div class=&quot;form-row&quot;&gt;</p>

<p class=MsoNormal>    &lt;label for=&quot;id_username&quot;&gt;{% trans
'Username:' %}&lt;/label&gt; &lt;input type=&quot;text&quot;
name=&quot;username&quot; id=&quot;id_username&quot; /&gt;</p>

<p class=MsoNormal>  &lt;/div&gt;</p>

<p class=MsoNormal>  &lt;div class=&quot;form-row&quot;&gt;</p>

<p class=MsoNormal>    &lt;label for=&quot;id_password&quot;&gt;{% trans
'Password:' %}&lt;/label&gt; &lt;input type=&quot;password&quot;
name=&quot;password&quot; id=&quot;id_password&quot; /&gt;</p>

<p class=MsoNormal>    &lt;input type=&quot;hidden&quot;
name=&quot;this_is_the_login_form&quot; value=&quot;1&quot; /&gt;</p>

<p class=MsoNormal>  &lt;/div&gt;</p>

<p class=MsoNormal>  &lt;div class=&quot;submit-row&quot;&gt;</p>

<p class=MsoNormal>    &lt;label&gt;&amp;nbsp;&lt;/label&gt;&lt;input
type=&quot;submit&quot; value=&quot;{% trans 'Log in' %}&quot; /&gt;</p>

<p class=MsoNormal>  &lt;/div&gt;</p>

<p class=MsoNormal>&lt;/form&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&lt;script type=&quot;text/javascript&quot;&gt;</p>

<p class=MsoNormal>document.getElementById('id_username').focus()</p>

<p class=MsoNormal>&lt;/script&gt;</p>

<p class=MsoNormal>&lt;/div&gt;</p>

<p class=MsoNormal>{% endblock %}</p>

</div>

</body>

</html>
