<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.Section1
	{page:Section1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=Section1>

<p class=MsoNormal>&lt;h2&gt;{{ post.title }}&lt;/h2&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&lt;div class=&quot;content&quot;&gt;</p>

<p class=MsoNormal>    &lt;p&gt;</p>

<p class=MsoNormal>        {{ post.text }}</p>

<p class=MsoNormal>    &lt;/p&gt;</p>

<p class=MsoNormal>    &lt;span&gt;</p>

<p class=MsoNormal>        Written by {{ post.author }}  on {{ post.created_on
}}</p>

<p class=MsoNormal>    &lt;/span&gt;</p>

<p class=MsoNormal>&lt;/div&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>{% if post.comment_set.all %}</p>

<p class=MsoNormal>&lt;h2&gt;Comments&lt;/h2&gt;</p>

<p class=MsoNormal>&lt;div class=&quot;comments&quot;&gt;</p>

<p class=MsoNormal>    {% for comment in post.comment_set.all %}</p>

<p class=MsoNormal>        &lt;span&gt;</p>

<p class=MsoNormal>            &lt;a href=&quot;{{ comment.website
}}&quot;&gt;{{ comment.name }}&lt;/a&gt; said on {{ comment.created_on }}</p>

<p class=MsoNormal>        &lt;/span&gt;</p>

<p class=MsoNormal>        &lt;p&gt;</p>

<p class=MsoNormal>            {{ comment.text }}</p>

<p class=MsoNormal>        &lt;/p&gt;</p>

<p class=MsoNormal>    {% endfor %}</p>

<p class=MsoNormal>&lt;/div&gt;</p>

<p class=MsoNormal>{% endif %}</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&lt;br /&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&lt;h2&gt;Add Comment&lt;/h2&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&lt;form action=&quot;&quot; method=&quot;POST&quot;&gt;</p>

<p class=MsoNormal>    {% csrf_token %}</p>

<p class=MsoNormal>    &lt;table&gt;</p>

<p class=MsoNormal>        {{ form.as_table }}</p>

<p class=MsoNormal>    &lt;/table&gt;</p>

<p class=MsoNormal>    &lt;input type=&quot;submit&quot;
name=&quot;submit&quot; value=&quot;Submit&quot; /&gt;</p>

<p class=MsoNormal>&lt;/form&gt;</p>

</div>

</body>

</html>
